# Database
DATABASE_URL="postgresql://shuttleup:shuttleup_dev@localhost:5432/shuttleup?schema=public"

# Redis (Bull Queue)
REDIS_HOST=localhost
REDIS_PORT=6379

# Better Auth Server
BETTER_AUTH_SECRET=your_super_secret_string
BETTER_AUTH_URL=http://localhost:3000

# Push Notifications / Emails (Add later)
RESEND_API_KEY=
FCM_SERVER_KEY=
